
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Page</h2>

<p>
    @Html.ActionLink("View Roles", "GetRoles")
</p>
<p>
    @Html.ActionLink("View Users", "GetUsers")
</p>
<p>
    @Html.ActionLink("Get Roles for a User", "GetRolesForUser")
</p>
<p>
    @Html.ActionLink("Manage User Roles", "ManageUserRoles")
</p>
<p>
    @Html.ActionLink("Add New Role", "AddRole")
</p>