@model IEnumerable<NAA.Data.Models.Domain.University>

@{
    ViewBag.Title = "GetUniversities";
}

<h2>Select a University to apply to.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.UniversityId == 1)
            {
                @Html.ActionLink("View Courses", "GetSHUCourses", new { universityId = item.UniversityId, userId = ViewBag.userId, Controller = "Service" })
            }
            else if (item.UniversityId == 2)
            {
                @Html.ActionLink("View Courses", "GetShefCourses", new { universityId = item.UniversityId, userId = ViewBag.userId, Controller = "Service" })
            }

            @*@Html.ActionLink("Details", "Details", new { id=item.UniversityId }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.UniversityId })*@
        </td>
    </tr>
}

</table>
